# Kjede editering i hel mappe

In [1]:
import pandas as pd
import os
import glob
import datetime

In [2]:
today = datetime.date.today()
first = today.replace(day=1)
last_month = first - datetime.timedelta(days=1)
month01 = last_month.strftime("%m%y")
month01

'0423'

In [3]:
path_inn = 'data_inn/'
path_rev = 'data_rev/'
path_ut = 'data_ut/'
alphabet=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [4]:
path_inn

'data_inn/'

In [5]:
#kjede = ssb_kjede['doi_kjedenavn'] # n√•r det er linket til oracle
kjede = ['bedrift1','bedrift']
kjede

['bedrift1', 'bedrift']

In [6]:
for file in kjede:
    df = pd.read_excel(path_inn+file+".xlsx")
    df_rev = pd.read_excel(path_rev+file+"_rev.xlsx")
    x=len(df.columns)
    y = alphabet[0:x]
    df.columns = y
    for (columnName, columnData) in df.iteritems():
            if df[columnName].dropna().isin(df_rev['avd']).any() == True:
                    columnRight=columnName
                    columnLeft='avd'
            elif df[columnName].dropna().isin(df_rev['orgnr']).any() == True:
                    columnRight=columnName
                    columnLeft='orgnr'
    df_rev = pd.merge(df_rev,df,how="right",left_on=columnLeft,right_on=columnRight)
    df_rev.columns = [*df_rev.columns[:-1], month01]
    df_ut = df_rev[['orgnr',month01]]
    df_ut.to_excel(path_ut+file+month01+".xlsx", index = False)

In [7]:
df_rev

          orgnr     nace   avd    0323         a  0423
0           NaN      NaN   NaN     NaN       NaN   NaN
1           NaN      NaN   NaN     NaN       NaN   NaN
2           NaN      NaN   NaN     NaN       NaN   NaN
3           NaN      NaN   NaN     NaN       NaN   NaN
4           NaN      NaN   NaN     NaN       NaN   NaN
5           NaN      NaN   NaN     NaN       NaN   NaN
6           NaN      NaN   NaN     NaN  avdeling   oms
7   999999997.0  47400.0   2.0  1112.0         2  1360
8   999999996.0  47400.0   3.0  1691.0         3   850
9   999999995.0  47400.0   4.0   892.0         4   781
10  999999991.0  47400.0   8.0  1340.0         8   960
11  999999990.0  47400.0   9.0  1955.0         9   750
12  999999994.0  47400.0   5.0   789.0         5  1640
13  999999993.0  47400.0   6.0   985.0         6  1112
14  999999992.0  47400.0   7.0   684.0         7  1278
15  999999989.0  47400.0  10.0   852.0        10   789
16  999999998.0  47400.0   1.0  1250.0         1  1220
17          NaN      NaN   NaN     NaN        11  1320